<form id="journal-scope-create-period" autocomplete="off">
    <div class="form-group">
        <label>{{localize "SCOPE.JournalShortName"}}</label>
        <input type="text" name="name" placeholder="{{name}}"/>
    </div>
    <div class="form-group">
        <label>{{localize "SCOPE.JournalDescription"}}</label>
        <input type="text" name="desc" placeholder='{{localize "SCOPE.JournalDescription"}}'/>
    </div>
    <div class="form-group">
        <label>{{localize "SCOPE.JournalTone"}}</label>
        <div class="form-fields">
            {{radioBoxes tone tones checked=chosen localize=true}}
        </div>
    </div>
    <div class="last"></div>
    <div class="form-group">
        <div class="flexcol">
            <label>{{localize "SCOPE.Attach"}} {{attachCard}}</label>
            <p class="notes">{{localize "SCOPE.Optional"}}</p>
        </div>
        <select class="scope select period" name="periodAttach">
            {{selectOptions periodCards selected=cardSelected localize=false}}
        </select>
    </div>
    {{#if eventCards}}
    <div class="form-group">
        <div class="flexcol">
            <label>{{localize "SCOPE.Attach"}} {{attachSubCard}}</label>
            <p class="notes">{{localize "SCOPE.Optional"}}</p>
        </div>
        <select class="scope select event" name="eventAttach">
            {{selectOptions eventCards selected=subCardSelected localize=false}}
        </select>
    </div>
    {{/if}}
    {{#if sceneCards}}
    <div class="form-group">
        <div class="flexcol">
            <label>{{localize "SCOPE.InsertAfter"}} {{attachSubSubCard}}</label>
            <p class="notes">{{localize "SCOPE.Optional"}}</p>
        </div>
        <select class="scope select scope-scene" name="sceneAttach">
            {{selectOptions sceneCards selected=subSubCardSelected localize=false}}
        </select>
    </div>
    {{/if}}
    <input type="text" name="folderId" value="{{folderId}}" hidden/>
    <div class="last"></div>
</form>