<form id="journal-scope-create-legacy" autocomplete="off">
    <div class="form-group">
        <div class="flexcol">
            <label>{{localize "SCOPE.LegacyChoice"}}</label>
        </div>
        <select class="scope select legacy" name="changeLegacy">
            {{selectOptions legacyData localize=false}}
        </select>
    </div>
    <div class="form-group">
        <label>{{localize "SCOPE.UpdateLegacy"}}</label>
        <input type="text" name="text" placeholder=""/>
    </div>
    <div class="last"></div>
</form>