<form id="journal-scope-create-bookends" autocomplete="off">
    <div class="flexrow">
        <label>Start of History</label>
    </div>
    <div class="form-group">
        <label>{{localize "SCOPE.JournalShortName"}}</label>
        <input type="text" name="name" placeholder="Starting Period"/>
    </div>
    <div class="form-group" id="bigtext">
        <label>{{localize "SCOPE.JournalDescription"}}</label>
        <textarea rows="4" name="startDesc" placeholder='{{localize "SCOPE.JournalDescription"}}'>
        </textarea>
    </div>
    <div class="form-group">
        <label>{{localize "SCOPE.JournalTone"}}</label>
        <div class="form-fields">
            {{radioBoxes tone tones checked=chosen localize=true}}
        </div>
    </div>
    <div class="last"></div>
    <div class="flexrow">
        <label>End of History</label>
    </div>
    <div class="form-group">
        <label>{{localize "SCOPE.JournalShortName"}}</label>
        <input type="text" name="endName" placeholder="End Period"/>
    </div>
    <div class="form-group" id="bigendtext">
        <label>{{localize "SCOPE.JournalDescription"}}</label>
        <textarea rows="4" name="endDesc" placeholder='{{localize "SCOPE.JournalDescription"}}'>
        </textarea>
    </div>
    <div class="form-group">
        <label>{{localize "SCOPE.JournalTone"}}</label>
        <div class="form-fields">
            {{radioBoxes endTone tones checked=chosen localize=true}}
        </div>
    </div>
    <div class="last"></div>
</form>