<form id="journal-scope-create-period" autocomplete="off">
    <div class="form-group">
        <label>{{localize "SCOPE.JournalShortName"}}</label>
        <input type="text" name="name" placeholder="{{name}}"/>
    </div>
    <div class="form-group">
        <label>{{localize "SCOPE.JournalDescription"}}</label>
        <input type="text" name="desc" placeholder='{{localize "SCOPE.JournalDescription"}}'/>
    </div>
    <div class="form-group">
        <label>{{localize "SCOPE.JournalTone"}}</label>
        <select name="tone">
            <option value='{{localize "SCOPE.JournalLight"}}'>{{localize "SCOPE.JournalLight"}}</option>
            <option value='{{localize "SCOPE.JournalDark"}}'>{{localize "SCOPE.JournalDark"}}</option>
        </select>
    </div>
</form>