<form id="journal-scope-create-period" autocomplete="off">
    <div class="flexrow emulated-flex-gap">
        <div class="flexcol">
            <div class="flexrow yes">
                <label>{{localize "Yes"}}</label>
            </div>
            <div class="flexrow">
                    <textarea rows="12" name="yes" id="bigtext">
                    </textarea>
            </div>
        </div>
        <div class="flexcol">
            <div class="flexrow yes">
                <label>{{localize "No"}}</label>
            </div>
            <div class="flexrow">
                    <textarea rows="12" name="no" id="bigendtext">
                    </textarea>
            </div>
        </div>
    </div>
    <div class="last"></div>
</form>